<div class="home">
  <div class="home__header">
    <app-header></app-header>
  </div>
  <div class="home__content" *ngIf="!title">
    <div class="home__line"></div>
    <div class="home__items">
      <div class="scissors">
        <app-item
          (chooseItem)="chooseItem($event)"
          [type]="'scissors'"
        ></app-item>
      </div>
      <div class="rock">
        <app-item (chooseItem)="chooseItem($event)" [type]="'rock'"></app-item>
      </div>
      <div class="paper">
        <app-item (chooseItem)="chooseItem($event)" [type]="'paper'"></app-item>
      </div>
    </div>
  </div>
  <ng-container *ngIf="title">
    <app-play-ground></app-play-ground>
  </ng-container>
  <div class="home__footer">
    <button (click)="openModal()">RULES</button>
  </div>
</div>

<app-modal [show]="show" (onModalClose)="show = $event"></app-modal>
