/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle at center top,
    rgb(31, 55, 87) 20%,
    rgb(19, 21, 55) 100%
  );
}
